In [1]:
import pandas as pd
ufo = pd.read_table('ufo.csv', sep=',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [2]:
ufo.isnull().tail()

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

In [3]:
ufo.isnull().sum()
#true is counted as 1 and false as 0. Therefore sum gives a value

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [6]:
ufo[ufo.City.isnull()]

      City Colors Reported Shape Reported State              Time
21     NaN             NaN            NaN    LA    8/15/1943 0:00
22     NaN             NaN          LIGHT    LA    8/15/1943 0:00
204    NaN             NaN           DISK    CA   7/15/1952 12:30
241    NaN            BLUE           DISK    MT    7/4/1953 14:00
613    NaN             NaN           DISK    NV    7/1/1960 12:00
1877   NaN          YELLOW         CIRCLE    AZ    8/15/1969 1:00
2013   NaN             NaN            NaN    NH     8/1/1970 9:30
2546   NaN             NaN       FIREBALL    OH  10/25/1973 23:30
3123   NaN             RED       TRIANGLE    WV  11/25/1975 23:00
4736   NaN             NaN         SPHERE    CA   6/23/1982 23:00
5269   NaN             NaN            NaN    AZ   6/30/1985 21:30
6735   NaN             NaN      FORMATION    TX     4/1/1992 2:00
7208   NaN             NaN         CIRCLE    MI   10/4/1993 17:30
8828   NaN             NaN       TRIANGLE    WA  10/30/1995 21:30
8967   NaN             NaN        VARIOUS    CA   12/8/1995 18:00
9273   NaN             NaN       TRIANGLE    OH     5/1/1996 3:00
9388   NaN             NaN           OVAL    CA   6/12/1996 12:00
9587   NaN             NaN            EGG    FL   8/24/1996 15:00
10399  NaN             NaN       TRIANGLE    IL   6/15/1997 23:00
11625  NaN             NaN         CIRCLE    TX     6/7/1998 7:00
12441  NaN             RED       FIREBALL    WA  10/26/1998 17:58
15767  NaN             NaN      RECTANGLE    NV   1/21/2000 11:30
15812  NaN             NaN          LIGHT    NV     2/2/2000 3:00
16054  NaN           GREEN            NaN    FL    3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY   6/15/2000 15:00

In [7]:
#drop the row if any of its values are missing
ufo.dropna(how='any')

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [9]:
ufo.count()

City               18216
Colors Reported     2882
Shape Reported     15597
State              18241
Time               18241
dtype: int64

In [8]:
ufo.dropna(how='any').count()

City               2486
Colors Reported    2486
Shape Reported     2486
State              2486
Time               2486
dtype: int64

In [10]:
#drop the row if all of its values are missing
ufo.dropna(how='all')

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [11]:
ufo.dropna(how='all').count()

City               18216
Colors Reported     2882
Shape Reported     15597
State              18241
Time               18241
dtype: int64

In [12]:
#drop the row if any of specified values are missing
ufo.dropna(subset=['City', 'Colors Reported'], how='any')

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
66,Wexford,BLUE,NaN,PA,7/1/1947 20:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
120,Roswell,RED,NaN,NM,3/22/1950 0:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
...,...,...,...,...,...
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18169,Amhearst,BLUE,NaN,OH,12/21/2000 23:56
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [13]:
ufo.dropna(subset=['City', 'Colors Reported'], how='any').count()

City               2877
Colors Reported    2877
Shape Reported     2486
State              2877
Time               2877
dtype: int64

In [14]:
ufo['Shape Reported'].value_counts()

LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
PYRAMID         1
HEXAGON         1
DOME            1
FLARE           1
Name: Shape Reported, dtype: int64